@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
}

:root {
    --primary-color: #f5cf06;
    --secundary-color: #8E4106;
    --default-shadow:
}

body {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Righteous", sans-serif;
}

header{
    width: 100%;
    height: 10%;
    margin-left: 50px;
}

.Pokemon{
    display: flex;
    padding: 50px;
}

.Pokemon img {
    margin-right: 10px;
}

.Pokemon h3 {
    font-size: 32px;
    color: var(--secundary-color);
}

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Pikachu{
    z-index: 1;
    position: center;
}

.Pikachu img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    margin:auto;
}

.Texts {
    top: 100px;
    text-align: center;
    z-index: 0;
    position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.Texts h1 {
    font-size: 400px;
    color: white;
    opacity: 20%;
    width: 100%;
    margin:auto;
    position: absolute;
    text-align: center;
}

.Texts h2 {
    font-size: 300px;
    color: white;
    width: 100vw;
    position: center;
    margin: auto;
}
.info{
    position: relative;
    z-index: 1;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.apresentacao{
    width: 500px;
    font-size: 20px;
    color: var(--secundary-color);
}
.lets {
    font-size: 64px;
    color: var(--secundary-color);
}

.botao_download{
    display: flex;
    width: 411px;
    height: 100px;
    background-color: var(--secundary-color);
    border: none;
    font-family: "Righteous", sans-serif;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 48px;
    color: white;

}

footer{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    margin-right: 50%;
}