*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
}

:root {
    --primary-color: #f5cf06;
    --secundary-color: #8E4106;
}

body {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Righteous", sans-serif;
}

header{
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.Pokemon{
    display: flex;
    padding: 50px ;
}

.Pokemon h3 {
    font-size: 32px;
    color: var(--secundary-color);
}

main{
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.Pikachu{
    position: absolute;
    align-items: center;
}

.Nome Pikachu {
    align-items: center;
    justify-content: center;
}

main h1 {
    font-size: 400px;
    color: white;
    opacity: 30%;
    width: 400px;
}

main h2 {
    font-size: 300px;
    color: white;
}


footer{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}