*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
}

:root {
    --primary-color: #f5cf06;
    --secundary-color: #8E4106;
}

body {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Righteous", sans-serif;
}

header{
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.Pokemon{
    display: flex;
    padding: 50px;
}

.Pokemon img {
    left: 10px;
}

.Pokemon h3 {
    font-size: 32px;
    color: var(--secundary-color);
}

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Pikachu{
    z-index: 1;
    position: center;
}

.Pikachu img{
    width: 600px;
    height: 541px;
}

.Texts {
    position: center;
    top: 100px;
    width: 100px;
    text-align: center;
    z-index: 0;
}


.Texts h1 {
    font-size: 400px;
    color: white;
    opacity: 20%;
    width: 400px;
    position: absolute;
}

.Texts h2 {
    font-size: 300px;
    color: white;

    width: 400px;
}


footer{
    align-items: center;
    display: flex;
}